manage.py
checklist_project/
    __init__.py
    settings.py
    urls.py
    asgi.py
    wsgi.py
app/
    __init__.py
    admin.py
    apps.py
    migrations/
        __init__.py
    models.py
    tests.py
    views.py
    templates/
        app/
            task_list.html
